version: '3.8'

services:
  zookeeper:
    image: zookeeper:latest
    container_name: zookeeper
    restart: always
    ports:
      - "2181:2181"
    environment:
      - ZOO_MY_ID=1
      - ZOO_SERVERS=server.1=zookeeper:2888:3888;2181
      - ZOO_ADMIN_ENABLE_SERVER=false
    volumes:
      - zookeeper_data:/data
      - zookeeper_datalog:/datalog

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    restart: always
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
    depends_on:
      - zookeeper
    volumes:
      - kafka_data:/var/lib/kafka/data

  kafka_ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka_ui
    restart: always
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    depends_on:
      - kafka
      - zookeeper
  
  
    
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.10.2 # Use a recent MLflow version
    container_name: mlflow
    ports:
      - "5000:5000" # MLflow UI
    volumes:
      - ./mlruns:/mlruns # Mount the same mlruns directory as the app service
      # You can also use a named volume for better persistence:
      # - mlflow_data:/mlruns
    command: >
      mlflow server
      --backend-store-uri file:///mlruns
      --default-artifact-root file:///mlruns
      --host 0.0.0.0
      --port 5000
    #  mlflow server \
    #        --backend-store-uri sqlite:////mlflow/mlflow.db \
    #        --default-artifact-root /mlflow/artifacts \
    #        --host 0.0.0.0 --port 5000"

    restart: always

volumes:
  zookeeper_data:
  zookeeper_datalog:
  kafka_data: